
.landing-intro {
    height: 100vh;
    min-height: 500px;
    /*background-image: url('../../images/landing/landing-intro.png');*/
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
